@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Open Sans';
    background: #FDFDFD;
}

.container {
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
}

.button {
    color: #E3DFE9;
    font-size: 18px;
    background: white;
    padding: 17px 30px;
    box-shadow: 3px 3px 30px rgba(118, 96, 168, .2);
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    transition: transform .2s ease, box-shadow .2s ease, color .2s ease;
    margin-bottom: 15px;
}

.button:hover {
    color: #DBD7E0;
    transform: translateY(3px);
    box-shadow: 3px 3px 30px rgba(118, 96, 168, .17);
}

.arrow {
    width: 13px;
    transition: transform .3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.button p {
    display: inline;
    margin-right: 75px;
}

.dropdown {
    position: relative;
    color: #E3DFE9;
    font-size: 18px;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    display: block;
    cursor: pointer;
    width: 235px;
    transform: scale(.01);
    opacity: 0;
    transition: transform .3s ease, opacity .3s ease, box-shadow .3s ease .15s;
    transform-origin: center top;
    overflow: hidden;
}

